<div class="col-xs-12">
  <div class="lead">
    {{iLogs.sessionLogsTitle}}
  </div>

  <div id="SessionLogsTable">
    <div class="row margin-row">
      {{>gridFilter}}
    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th data-sort-field="created_at">{{iLogs.createdAt}}</th>
          <th data-sort-field="type">{{iLogs.sessionType}}</th>
          <th data-sort-field="username">{{iLogs.username}}</th>
          <th data-sort-field="ip">{{iLogs.ip}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="100">
            {{iGrid.noResults}}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

