dist/*
build/cli/iso/
build/cli/.bundle/
build/sni/dist/
build/sni/tmp/
devenv/iso/
devenv/disks/
srviso/iso/
srviso/tmp/
server/vendor/
server/doc/
server/.yardoc/
webif/release/
webif/tmp/
webif/lib/

.DS_Store
test.rb
*.deb
*.lzma
*.gz
*.iso
*.box
*.tar.gz
.*.sw[a-z]
*~
.vagrant
.bundle

