<h3 class="popover-title">
  {{data.name}}
</h3>
<div class="popover-content">
  <button class="btn btn-block btn-success js-btn-all">
    <i class="icon-globe"></i>
    {{iWebfilter.categorySelectAll}}
  </button>
  <button class="btn btn-block btn-info js-btn-students">
    <i class="icon-group"></i>
    {{iWebfilter.categorySelectStudents}}
  </button>
  <button class="btn btn-block btn-danger js-btn-none">
    <i class="icon-remove"></i>
    {{iWebfilter.categorySelectNone}}
  </button>
</div>

