<div class="col-xs-12" id="RoomCtlMain">
  <div class="lead">
    {{iRoomCtl.title}}
  </div>

  <div class="row">
    <div class="col-sm-9">
      <button class="btn hide js-btn-screenlock"></button>
      <button class="btn hide js-btn-soundlock"></button>
      <button class="btn hide js-btn-weblock"></button>
      <button class="btn hide js-btn-printerlock"></button>
    </div>

    <div class="col-sm-3 text-right">
      <button class="btn btn-primary js-btn-choose">
        {{iRoomCtl.chooseHg}}
      </button>
    </div>
  </div>

  <div class="row js-list"></div>
</div>

