<div class="col-xs-12" id="InitialPasswordsMain">
  <div class="lead">
    {{iUsers.initialPasswordsTitle}}
  </div>
  <div class="well">
    <div>
      {{{iUsers.initialPasswordsHelpText}}}
    </div>
    <br>

    <span class="hidden-print">
      <a href="#" class="js-select-all">
        {{iUsers.initialPasswordsSelectAll}}
      </a>
      |
      <a href="#" class="js-select-none">
        {{iUsers.initialPasswordsSelectNone}}
      </a>
    </span>

    <span class="js-class-select"></span>

    <br>

    <button type="button" class="btn btn-primary js-print">
      {{iUsers.initialPasswordsBtnPrint}}
    </button>
  </div>

  <div class="lead output-title">
    {{iUsers.initialPasswordsOutput}}
  </div>
  <div class="output js-output"></div>
</div>

