<li class="col-xs-6">
<div>
  <h3 class="pull-right">{{userClass.name}}</h3>
  <h4>{{user.first_name}} {{user.last_name}}</h4>
  <strong>{{iCommon.username}}:</strong> {{user.username}}
  <br>
  <div class="hidden-print">
    <strong>{{iCommon.password}}:</strong> 
    ********
  </div>
  <div class="visible-print">
    <strong>{{iCommon.password}}:</strong> 
    {{user.password_initial}}
  </div>
  <small class="visible-print">
    {{iUsers.initialPasswordEntryHelpText}}
  </small>
</div>
</li>

