<div class="col-xs-12">
  <div class="lead">
    {{iUsers.userListTitle}}
  </div>

  <div id="UserListTable">
    <div class="row margin-row">
      {{>gridFilter}}

      <div class="col-lg-6 col-sm-4 col-xs-12 text-right">
        <a href="#admin/users/UserCreate" 
          class="btn btn-primary js-btn-create hide">
          {{iUsers.createUser}}
        </a>
      </div>
    </div>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th data-sort-field="last_name">{{iCommon.lastName}}</th>
          <th data-sort-field="first_name">{{iCommon.firstName}}</th>
          <th data-sort-field="position_group">
            {{iUsers.gridPositionGroup}}
          </th>
          <th>{{iUsers.userClassShort}}</th>
          <th data-sort-field="username">{{iCommon.username}}</th>
          <th>{{iCommon.birthdate}}</th>
          <th data-sort-field="admin_group">{{iUsers.gridAdminGroup}}</th>
          <th data-sort-field="quota_used_mb">{{iUsers.quotaUsed}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="100">
            {{iGrid.noResults}}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

